gunicorn==23.0.0
Flask==3.0.3
numpy==1.26.4
pandas==2.2.3
scipy==1.14.1
scikit-learn==1.6.1
scikit-fuzzy==0.5.0
mlxtend==0.23.4
sentence-transformers==4.1.0
torch==2.7.0
transformers==4.51.3
sqlitecloud==0.0.83
matplotlib==3.10.3