/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h2 {
    text-align: center;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #007BFF;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007BFF;
    text-align: center;
    padding: 10px 0;
}

.bottom-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
} */


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
}

.left {
    flex: 1;
    padding: 10px 20px 10px 10px;
}

.left img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

.right {
    flex: 1;
    max-width: 800px;
    background-color: #fff;
    padding: 40px;
    /* border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); */
    transition: margin-top 0.5s ease;
    margin-top: 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select, button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.styled-checkbox {
    margin: 3px -380px 10px -380px;
}


